<main>
  <div class="d-flex-center mouse-icon">
    <mat-icon>mouse</mat-icon>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input [formControl]="username" matInput placeholder="Example Juan">
    </mat-form-field>
    <mat-error class="d-block" *ngIf="username.invalid && username.touched">
      You must provide a player name!
    </mat-error>
  </div>
  <div class="d-flex-center">
      <button (click)="goToGame()" [disabled]="username.invalid" color="primary" mat-flat-button>Login</button>
  </div>
</main>
