.d-flex-center{
  display: flex;
  justify-content: center;
}

.link-btn{
  width: 100%;
  text-decoration: none;

  button{
    width: 100%;
  }
}

.mouse-icon{
  margin: 3rem;
}
.d-block{
  display: block;
}
.w-100{
  width: 100%;
}
