<div class="header">
  <div class="username_wrapper">
    <mat-icon>account_circle</mat-icon>
    <span class="username">{{ username }}</span>
  </div>
  <div class="level-container">
    Level
    <select matNativeControl required [ngModel]="gameSpeed">
      <option selected [value]="level2ms[levelSpeed.LOW]">{{levelSpeed.LOW}}</option>
      <option [value]="level2ms[levelSpeed.MEDIUM]">{{levelSpeed.MEDIUM}}</option>
      <option [value]="level2ms[levelSpeed.HIGH]">{{levelSpeed.HIGH}}</option>
    </select>
  </div>
</div>
<main>
<div class="points"></div>
  <div class="game">
    <div class="points">
      <span>Points: {{ actualPoints }}</span>
    </div>
    <div class="game-board">
      <div class="board-cell"></div>
      <div class="board-cell"></div>
      <div class="board-cell"></div>
      <div class="board-cell"></div>
      <div class="board-cell"></div>
      <div class="board-cell"></div>
      <div class="board-cell"></div>
      <div class="board-cell"></div>
      <div class="board-cell"></div>
    </div>
    <div class="play-btn">
      <button *ngIf="!isGameRunning" color="primary" (click)="startGame()" mat-flat-button>Start</button>
      <button *ngIf="isGameRunning" color="primary"  (click)="stopGame()"  mat-flat-button>Stop</button>
    </div>
  </div>
</main>
