<div class="header">
  <div class="username_wrapper">
    <mat-icon>account_circle</mat-icon>
    <span class="username" [title]="username">{{ username ? username: "" }}</span>
  </div>
  <div class="ml-auto">
    <span>Moles:</span>
    <select class="custom-select" matNativeControl required [ngModel]="molesCount" (ngModelChange)="onMolesCountChange($event)">
      <option selected [value]="1">{{"1 mole"}}</option>
      <option [value]="2">{{"2 moles"}}</option>
    </select>
  </div>
  <div >
    <span>Level</span>
    <select class="custom-select" matNativeControl required [ngModel]="actualLvl" (ngModelChange)="onLvlSpeedChange($event)">
      <option selected [value]="levelSpeed.LOW">{{levelSpeed.LOW}}</option>
      <option [value]="levelSpeed.MEDIUM">{{levelSpeed.MEDIUM}}</option>
      <option [value]="levelSpeed.HIGH">{{levelSpeed.HIGH}}</option>
    </select>
  </div>
</div>
<main>
<div class="points"></div>
  <div class="game">
    <div class="points">
      <span>Points: {{ actualPoints }}</span>
    </div>
    <div class="game-board">
      @for (mole of moles; track mole; let  i = $index) {
      <div class="board-cell">
        <app-topo
          [isVisible]="isVisibleMole(i)"
          (isMoleHit)="onMoleHit($event, i)"
        ></app-topo>
      </div>
      }
    </div>
    <div class="play-btn">
      <button *ngIf="!isGameRunning" color="primary" (click)="startGame()" mat-flat-button>Start</button>
      <button *ngIf="isGameRunning" color="primary"  (click)="stopGame()"  mat-flat-button>Stop</button>
    </div>
  </div>
</main>
