@mixin border-box {
  box-sizing: border-box;
}
@mixin padding-1 {
  padding: 1rem;
}
@mixin w-100 {
  width: 100%;
}
@mixin bg-color{
  background-color: #3f51b5;
}
@mixin color-white{
  color: #ffffff;
}
:host{
  @include w-100;
  --board-width: 23rem;
  --cell-width: 6rem;
   @include color-white;
}
.header{
  @include w-100;
  @include padding-1;
  @include border-box;
  @include bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .username_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .username{
      font-size: 24px;
      margin-left: 1rem;
      overflow: hidden;
      width: 6rem;
      display: inline-block;
      text-overflow: ellipsis;//for very long username
    }
  }

  .ml-auto{
    margin-left: auto;
  }
  .custom-select{
    @include bg-color;
    @include color-white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid blue;
    margin-left: 1rem;
  }
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include border-box;
  @include padding-1;

  .points{
    @include w-100;
    text-align: right;
    font-size: 24px;
  }
  .game-board{
    margin-top: 1rem;
    width: var(--board-width);
    height: var(--board-width);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .board-cell{
      width: var(--cell-width);
      height: var(--cell-width);
      border: 0.1em solid #ffffff;
      border-radius: 0.2em;
    }
  }

  .play-btn{
    margin-top: 1rem;
  }
}
